@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.ttf') format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('../fonts/OpenSans-Medium.ttf') format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('../fonts/OpenSans-Bold.ttf') format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --form-select-bg: #000;
}




/* -------css start here------- */
body {
  font-family: 'Open Sans';
}

.main {
  background-color: #F5F6FA;
  overflow-x: hidden;
}

.project-form {
  margin: 50px 36px 10px 24px;
  background-color: white;
  border-radius: 20px;
}

.project-form form {
  padding: 15px 22px 0px 22px;
  width:100%;
}

.container-fluid {
  padding: 0;
}

.project-form .space {
  display: flex;
  flex-direction: column;
}

.project-form .dropdown-toggle {
  width: 100%;
}

.project-form .btn-secondary {
  background-color: white;
  color: black;
}

.project-form .btn:focus {
  box-shadow: none
}

.project-form .form-contro2 {
  width: 50%;
}

.project-form .chose-file {
  display: flex;
  flex-direction: column;
}

.project-form .top-space {
  padding: 28px 0 0 0;
}

/* -------font style ----- */

.project-form .title {
  font-size: 25px;
  font-weight: 700;
  color: #2D405A;
  margin: 0;
}

.project-form .form-txt {
  font-size: 14px;
  font-weight: 600;
  color: #78808A;
  margin-bottom: 8px;

}

.project-form .clr-txt {
  color: #EF5537;
}

.project-form .plc {
  font-size: 16px;
  color: #78808A;
  font-weight: 600;
  text-align: initial;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DDE1E5;
  border-radius: 8px;
  margin-bottom: 18px;
}

.project-form .plc.date-spacing {
  padding: 12px 20px 13px;
}

/* form 1   dropdown css */
.project-form .dropdown .user-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.user-div .user-img {
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #78808A;
  align-items: center;
  justify-content: center;
}

.user-div .user-img>img {
  width: 100%;
  border-radius: 50%;
}

.user-div .user-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user-div .user-info>p {
  margin: 0;
  font-size: 14px;
  font-family: 'Open sans';
  line-height: 24px;
  font-weight: 600;
  color: #3B414B;
}

.user-div .user-info>span {
  margin: 0;
  font-family: 'Open sans';
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #B4B7BB;
}

.dropdown .dropdown-item>.btn.btn-outline-danger.cus-btn {
  font-weight: 600;
  font-family: 'Open sans';
  font-size: 14px;
  line-height: 24px;
  padding: 0.5rem 1.5rem;
}

.dropdown .dropdown-menu.cus-space .dropdown-item {
  padding: 0.625rem 1rem;
}


/* form 1 dropdown  css  */


.project-form .dropdown-menu.show {
  width: 100%;
}

/* ---dropdown stle--- */
.project-form .dropdown-item {
  font-size: 14px;
  color: #78808A;
  font-weight: 400;
}

/* ---dropdown stle--- */


.project-form .dropdown-menu {
  border-radius: 8px;
}

.project-form input[type=date] {
  text-transform: uppercase;
}

.project-form input {
  border: 1px solid #DDE1E5;
  border-radius: 8px;
  padding: 13px 10px;
  margin-bottom: 18px;
}

.project-form .radio-custom input {
  margin-bottom: 0;
  height: 24px;
  width: 24px;
}

.project-form .radio-custom {
  display: flex;
  align-items: center;
}

.project-form .radio-clr {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.project-form input[type=file] {
  font-size: 14px;
  color: #78808A;
  font-weight: 600;
}

.project-form .plus-btn {
  background-color: #FDF5F4;
  border: 0;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 24px;
  color: #EF5537;
  margin-bottom: 36px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.project-form .submit-btn {
  width: fit-content;
  padding: 13px 30px;
  background-color: #EF5537;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 36px;
}

.project-form .form-control {
  border-radius: 8px;
}

.project-form .form-control:focus {
  box-shadow: none;
}

.project-form input[type=date]:focus-visible,
.project-form input[type=number]:focus-visible,
.project-form input[type=text]:focus-visible,
.project-form textarea:focus-visible{
    border: 1px solid #EF5537;
    outline:none;
}
.project-form input[type=""]:focus-visible{
  border: 1px solid #EF5537;
    outline:none;
}

/*  side bar */
.side {
  background-color: #fff;
}

/*  side bar */


.project-form .space {
  padding: 0 12px;
}

.project-form .form-control,
.project-form input[type="number"],
.project-form input[type="text"] {
  color: #78808A;
  font-size: 16px;
  font-weight: 500;
}


/* ------file uploader btn----- */
.project-form .file-label {
  background-color: #dde1e54f;
  border-radius: 8px;
  width: fit-content;
  padding: 14px 30px;
  border: 0;
  margin-bottom: 0;
}

.project-form .file-input {
  display: none;
}

.project-form .chose-btn-align {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.project-form .no-of-file {
  margin-left: 18px;
}

/* ---file uploader btn--- */



/* ---job1 section---- */
.project-form .job1 {
  padding-top: 0;
}

.project-form .yes {
  margin-left: 10px;
  margin-right: 30px;
}

.radio-clr {
  accent-color: #EF5537;
  height: 14px;
  width: 14px;
}

/* ---job1 section---- */

.project-form .form-select:focus {
  box-shadow: none;
}

.form-select select option:hover {
  background-color: red;
}


/* responsice css start here */
@media screen and (max-width:1024px) {
  .project-form form {
    width: 100%;
  }
}

@media screen and (max-width:820px) {
  .project-form {
    margin: 126px 11px 10px 10px;
  }
}

@media screen and (max-width:420px) {
  .project-form .plc {
    font-size: 11px;
  }

  .project-form .submit-btn {
    width: 100%;
  }
}

/* responsice css start here */


/* ---user select dropdown--- */
.select2-container{
  font-size: 16px;
  color: #78808A;
  font-weight: 600;
  text-align: initial;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 18px;
  width: 100%;
  width: 100% !important;
}
.selection{
width: 100%;
height: 52px;
border-radius: 8px;
}
.select2-selection--single{
height: 52px !important;
border: 1px solid #DDE1E5  !important;
border-radius: 8px  !important;
display: flex  !important;
align-items: center  !important;
}
.select2-selection--single{
height: 52px;
display: flex;
align-items: center;
border: 1px solid #DDE1E5;
border-radius: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
display: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
padding-left: 20px !important;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #78808A;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: 1px solid #DDE1E5 !important;
  border-radius: 4px;
}
.select2-container--open .select2-dropdown{
  border: 1px solid #DDE1E5 !important;
  padding: 6px 0px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color:#EF5537!important;
  color:white !important;
}
/* 
.select2-results__option--highlighted .user-div .user-info p, .select2-results__option--highlighted .user-div .user-info  span{
  color: #fff;
} */
.select2-results__option--highlighted .user-div .user-info > * {
  color: #fff;
}
.select2-search__field:focus{
  outline: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field input[type="search"]:focus-visible{
    outline:none;
}

.select2-container--open .select2-dropdown--below{
  border-radius: 8px;
}

.user-div{
  display: flex !important;
}

.user-info{
  margin-left: 10px;
}
.user-div .user-info>p:hover{
  color:white;
}
.user-div .user-info>p{
  color:black;
}
.form-select{
  background: url('../images/down-arrow.png');
  background-repeat: no-repeat;
  background-position: 98%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  border: 0;
  background: url('../images/down-arrow.png');
  background-repeat: no-repeat;
  background-position: 98%;
  top: 12px !important;
  right: 18px !important;
}
/* ---user select dropdown--- */



/* manager project page css start here */
.project-form .tabel-start{
  padding: 24px;
}

.project-form .mb{
  border-bottom: 1px solid #E8EFF6;
  padding: 17px 30px;
}

.project-form .input-main{
  position: relative;
}

.project-form .input-main input{
  width: 40%;
  padding: 10px 48px;
  border-radius: 6px;
  border: 1px solid #F5F8FF;
}

.project-form .input-main input::placeholder{
  font-size: 14px;
  font-weight: 600;
  color: #B4B4B4;
}

.project-form  input{
  color: #78808A;
  font-size: 16px;
  font-weight: 500;
}

.project-form .input-main input[type=search]:focus-visible{
    border: 1px solid #EF5537;
    outline:none;
}


.project-form .search-icon{
  position: absolute;
  bottom: 50%;
  left: 22px;
}




/* manager project page css start end */

